/* ==========================================================================
    Navbar
    ========================================================================== */
@import 'src/main/webapp/content/scss/bootswatch/variables';

.navbar-version {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .jh-navbar-toggler {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  span span {
    display: none;
  }
}

.navbar-title {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: $navbar-light-color;
}

a:focus {
  color: $navbar-light-hover-color;
  text-decoration: none;
}
a:hover {
  color: $navbar-light-hover-color;
  text-decoration: none;
}

.navbar-title {
  color: $navbar-light-color !important;
}

/* ==========================================================================
    Logo styles
    ========================================================================== */
.navbar-brand.logo {
  padding: 5px 15px;
}

.logo .logo-img {
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

.logo-img {
  height: 100%;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
  width: 100%;
  filter: drop-shadow(0 0 0.05rem white);
}
